# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Build artifacts
dist/

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ESLint cache
.eslintcache

# Test Vault
TestVault/.obsidian/*
TestVault/*/obsidian-folder-meta.json

# Coverage
coverage/
