.password-strength-message {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.password-strength-weak {
  color: var(--text-error);
}

.password-strength-medium {
  color: var(--text-warning);
}

.password-strength-strong {
  color: var(--text-success);
}
