.password-strength-message {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.password-strength-weak {
  color: var(--text-error);
}

.password-strength-medium {
  color: var(--text-warning);
}

.password-strength-strong {
  color: var(--text-success);
}

.recovery-key-container {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--background-secondary);
  font-family: var(--font-monospace);
  font-size: 1.2em;
  text-align: center;
  user-select: all;
}

.nav-folder-title.ef-folder-locked::after {
  content: ' 🔒';
  font-size: 0.8em;
  opacity: 0.6;
  margin-left: 4px;
}

.nav-folder-title.ef-folder-unlocked::after {
  content: ' 🔓';
  font-size: 0.8em;
  opacity: 0.6;
  margin-left: 4px;
}
